/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

// navigation bar

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;

  @media (max-width: 650px) {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    @media (max-width: 650px) {
      margin: 0 auto;
    }
  }
}

nav {
  font-weight: 400;

  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;

    li {
      padding-bottom: 5px;
    }
  }

  ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
}

// hero

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }

  input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;

    &:hover {
      background-color: orange;
      transition: background-color 1s;
    }
  }

  @media (max-width: 650px) {
    margin-top: 120px;
  }
}

// features

#features {
  margin-top: 30px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;

    @media (max-width: 550px) {
      display: none;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;

    @media (max-width: 550px) {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }

  @media (max-width: 650px) {
    margin-top: 0;
  }
}

// how it works

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  iframe {
    max-width: 560px;
    width: 100%;
  }
}

// pricing

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #tenor,
  #bass,
  #valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;

    .level {
      background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }

    h2 {
      margin-top: 15px;
    }

    ol {
      margin: 15px 0;

      li {
        padding: 5px 0;
      }
    }

    button {
      border: 0;
      margin: 15px 0;
      background-color: #f1c40f;
      font-weight: 400;

      &:hover {
        background-color: orange;
        transition: background-color 1s;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    #tenor,
    #bass,
    #valve {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

// footer

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      padding: 0 10px;
    }
  }

  span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
}
