$button: #4d4d4d;
@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #c2c2d6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: $button;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
  &:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
  }
}

.jumbo {
  width: 160px;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  a {
    text-decoration: none;
    color: #00264d;
    line-height: 26px;
  }
}
