#fcc_foldout_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 210px;
  border: 0px solid #fff;
  border-radius: 0 !important;
  border-bottom-right-radius: 5px !important;
  background-color: rgba(255, 255, 204, 0.9) !important;
  z-index: 99997;
  font-family: Noto Sans, arial, sans-serif !important;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6) !important;
  transition: .5s;
  pointer-events: all;
}
#fcc_toggle:checked ~ #fcc_foldout_menu {
  left: -320px;
  transition: .5s ease-in-out;
}
#fcc_toggle {
  height: 24px;
  width: 25px;
  position: fixed;
  top: 7px;
  left: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 99999;
  pointer-events: auto;
}
#fcc_foldout_toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99998;
  pointer-events: auto;
}

.transform_top {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
.transform_middle {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.transform_bottom {
  opacity: 1;
  transform: rotate(-45deg) translate(-1px, -1px);
}

.fcc_hamburger {
  position: relative;
  width: 25px;
  height: 3px;
  display: block;
  background: black !important;
  border-radius: 5px !important;
  transform-origin: 4px 0px;
  transition: transform 0.4s ease, opacity 0.55s ease;
}
#hamburger_top {
  position: absolute;
  top: -6px;
  transform-origin: 0% 80%;
}
#hamburger_bottom {
  position: absolute;
  bottom: -6px;
  transform-origin: 20% 80%;
}

#fcc_test_suite_indicator_wrapper {
  position: fixed;
  top: 15px;
  right: 20px;
}
#fcc_test_suite_indicator {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 12px;
  background-color: rgba(255, 255, 204, 0.9);
  color: black;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  font-family: Noto Sans, arial, sans-serif;
}
