#fcc_foldout_menu {
  background-color: rgba(255, 255, 204, 0.9);
  border: 0px solid #fff;
  border-radius: 0px 0px 5px 0px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  font-family: Noto Sans, arial, sans-serif;
  height: 210px;
  left: 0;
  pointer-events: all;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 320px;
}

#fcc_toggle:checked ~ #fcc_foldout_menu {
  left: -330px;
  transition: 0.5s ease-in-out;
}

#fcc_toggle:checked ~ #fcc_test_suite_indicator_wrapper {
  display: none;
}

#fcc_toggle {
  height: 24px;
  width: 30px;
  position: absolute;
  top: 7px;
  left: 10px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}

#fcc_foldout_toggler {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 1;
  pointer-events: auto;
}

#fcc_foldout_toggler_background {
  width: 39px;
  height: 30px;
  background-color: rgba(255, 255, 204, 0.08);
  transform-origin: 0% 50%;
  position: absolute;
  top: -13px;
  left: -7px;
  z-index: -1;
}

.transform_top {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
}

.transform_middle {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.transform_bottom {
  opacity: 1;
  transform: rotate(-45deg);
}

.fcc_hamburger {
  position: relative;
  width: 25px;
  height: 4px;
  display: block;
  background: darkgreen !important;
  border-radius: 5px !important;
  transform-origin: 4px 0px;
  transition: transform 0.4s ease, opacity 0.55s ease;
  left: unset;
}

#hamburger_top {
  position: absolute;
  top: -7.5px;
  transform-origin: 0% 50%;
}

#hamburger_middle {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

#hamburger_bottom {
  position: absolute;
  bottom: -7.5px;
  transform-origin: 0 50%;
}

#fcc_test_suite_indicator_wrapper {
  position: fixed;
  top: 15px;
  right: 20px;
  left: unset;
  height: auto;
}

#fcc_test_suite_indicator {
  position: static;
  font-size: 12px;
  background-color: rgba(255, 255, 204, 0.9);
  color: black;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  font-family: Noto Sans, arial, sans-serif;
}
