/* Please note making changes to the styles here might make some of the project
tests no longer work, or even just give a false positive. Especially if you
change a selector name.
The project tests generally try to filter out any CSS selectors that
contain 'fcc_test', or that contain 'mocha'. So please make sure the
selectors here use that naming convention.
See the following project tests which rely on filtering out the CSS rules
used here. If you find other project tests that rely on the CSS here,
please add them to the list:
- styleSheetUtils.js
- product-landing-page-tests.js
*/

#mocha .test .html-error,#mocha .test pre{
  float:left;
  clear:left;
  word-wrap:break-word;
}
#mocha ul,#mocha-stats li{
  list-style:none;
}

#mocha h1,#mocha h2{
  margin:0;
}

div#mocha{
  font:20px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:60px 50px;
}

#mocha li {
  display: list-item;
}

#mocha li,#mocha ul{
  margin:0;
  padding:0;
}
#mocha .suite,#mocha .test{
  margin-left:15px;
}
#mocha h1{
  margin-top:15px;
  font-size:1em;
  font-weight:200;
}
#mocha h1 a{
  text-decoration:none;
  color:inherit;
}
#mocha h1 a:hover{
  text-decoration:underline;
}
#mocha .suite .suite h1{
  margin-top:0;
  font-size:.8em;
}
#mocha .hidden{
  display:none;
}
#mocha h2{
  font-size:12px;
  font-weight:400;
  cursor:pointer;
}
#mocha .test{
  overflow:hidden;
  background-color: unset;
}
#mocha .test.pending:hover h2::after{
  content:'(pending)';
  font-family:arial,sans-serif;
}
#mocha .test.pass.medium .duration{
  background:#c09853;
}
#mocha .test.pass.slow .duration{
  background:#b94a48;
}
#mocha .test.pass::before{
  content:'✓';
  font-size:12px;
  display:block;
  float:left;
  margin-right:5px;
  color:#00d6b2;
}
#mocha .test.pass .duration{
  font-size:9px;
  margin-left:5px;
  padding:2px 5px;
  color:#fff;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
}
#mocha .test.pass.fast .duration{
  display:none;
}
#mocha .test.pending{
  color:#0b97c4;
}
#mocha .test.pending::before{
  content:'◦';
  color:#0b97c4;
}
#mocha .test.fail{
  color:#c00;
}
#mocha .test.fail pre{
  color:#000;
}
#mocha .test.fail::before{
  content:'✖';
  font-size:12px;
  display:block;
  float:left;
  margin-right:5px;
  color:#c00;
}
#mocha .test pre.error{
  color:#c00;
  max-height:300px;
  overflow:auto;
}
#mocha .test .html-error{
  overflow:auto;
  color:#000;
  line-height:1.5;
  display:block;
  font:12px/1.5 monaco,monospace;
  margin:5px;
  padding:15px;
  border:1px solid #eee;
  max-width:85%;
  max-width:-webkit-calc(100% - 42px);
  max-width:-moz-calc(100% - 42px);
  max-width:calc(100% - 42px);
  max-height:300px;
  border-bottom-color:#ddd;
  -webkit-box-shadow:0 1px 3px #eee;
  -moz-box-shadow:0 1px 3px #eee;
  box-shadow:0 1px 3px #eee;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#mocha .test .html-error pre.error{
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:0;
  -moz-box-shadow:0;
  box-shadow:0; 
  padding:0; 
  margin:18px 0 0;
  max-height:none;
}
#mocha .test pre{
  display:block;
  font:12px/1.5 monaco,monospace;
  margin:5px;
  padding:15px;
  border:1px solid #eee;
  max-width:85%;
  max-width:-webkit-calc(100% - 42px);
  max-width:-moz-calc(100% - 42px);
  max-width:calc(100% - 42px);
  border-bottom-color:#ddd;
  -webkit-box-shadow:0 1px 3px #eee;
  -moz-box-shadow:0 1px 3px #eee;
  box-shadow:0 1px 3px #eee;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#mocha .test h2{
  position:relative;
  display: block;
}
#mocha .test a.replay{
  display:none;
}
#mocha-report.fail .test.pass,#mocha-report.pass .test.fail,#mocha-report.pending .test.fail,#mocha-report.pending .test.pass{
  display:none;
}
#mocha-report.pending .test.pass.pending{
  display:block;
}
#mocha-error{
  color:#c00;
  font-size:1.5em;
  font-weight:100;
  letter-spacing:1px;
}
#mocha-stats{
  position:fixed;
  top:12px;
  right:10px;
  font-size:12px;
  margin:0;
  color:#888;
  z-index:1;
}
#mocha-stats .progress{
  float:right;
  padding-top:0;
  height:auto;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  background-color:initial;
}
#mocha-stats em{
  color:#000;
  font-style: italic;
  padding: 0;
  margin: 0;
}
#mocha-stats a{
  text-decoration:none;
  color:inherit;
  padding: 0;
  margin: 0;
}
#mocha-stats a:hover{
  border-bottom:1px solid #eee;
}
#mocha-stats li{
  display:inline-block;
  margin:0 5px;
  padding-top:11px;
  position: unset;
}
#mocha-stats canvas{
  width:40px;
  height:40px;
}
#mocha code .comment{
  color:#ddd;
}
#mocha code .init{
  color:#2f6fad;
}
#mocha code .string{
  color:#5890ad;
}
#mocha code .keyword{
  color:#8a6343;
}
#mocha code .number{
  color:#2f6fad;
}
@media screen and (max-device-width:480px){
  #mocha{
    margin:60px 0;
  }
  #mocha #stats{
    position:absolute;
  }
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* TEST/MESSAGE CENTER CSS */

div#fcc_test_message-box {
  font-size: 20px !important;
  font-family: Noto Sans, arial, sans-serif !important;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8) !important;
  transition: all .5s;
  z-index: 100000;
  overflow: auto;
}

.fcc_test_message-box-hidden {
  visibility: hidden;
  opacity: 0;
  top: -300px;
}

.fcc_test_message-box-shown {
  visibility: visible;
  opacity: 1;
  top: 0;
}

div.fcc_test_message-box-content {
  position: relative;
  color: black !important;
  background-color: white !important;
  top: 10vh;
  width: 80%;
  margin: 0 auto !important;
  text-align: initial;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
}

.fcc_test_message-box-header,
.fcc_test_message-box-footer{
  position: relative;
  flex: none;
  box-sizing: border-box !important;
  padding: 10px !important;
  margin: 0;
}

.fcc_test_message-box-header {
  border-bottom: 1px solid rgb(229,229,229);
  height: 60px;
}

.fcc_test_message-box-header .title {
  float: left;
  font-size: 30px !important;
  line-height: 40px !important;
  margin-left: 10px !important;
  padding: 0;
  height: auto;
  border: unset;
}

div.fcc_test_message-box-body {
  flex: 1;
  position: static;
}

.fcc_test_message-box-footer {
  border-top: 1px solid rgb(229,229,229);
  height: 70px;
}

.fcc_test_message-box-close-btn {
  float: right;
  color: black;
  background-color: white;
  border: 1px solid rgb(229,229,229);
  border-radius: 4px;
  padding: 10px 20px !important;
  margin-bottom: 10px;
  transition: all .3s;
  line-height: 30px;
  height: auto;
}
.fcc_test_message-box-close-btn:hover {
  color: white;
  background-color: black;
}

div#mocha {
  margin: 10px !important;
  position: static;
}

#mocha .test pre {
  background-color: rgb(245, 245, 245) !important;
}

#mocha-stats {
  position: absolute;
  left: unset;
}

#mocha ul {
  max-width: initial;
  margin: initial !important;
  text-align: initial;
}
#mocha * {
  font-family: Noto Sans, arial, sans-serif !important;
  border: none !important;
}

div {
  position: static;
}

